#main {
    height: auto;
    display: block;
    padding: 10px;
}

#main #stage {
    position: relative;
    width: 800px;
    height: 800px;
}

#main #stage .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main #stage #graph-canvas {
    border: 1px dotted #3c3c3c;
    background-color: #dddddd;
    border-radius: 5px;
    z-index: 1;
}

#main #stage #runner-path{
    z-index: 2;
    background: transparent;
}

#main #stage #runner-objects {
    z-index: 3;
    background: transparent;
}

#main #tools {
    margin: 0 0 0 10px;
    width: 400px;
}

#main #tools .container {
    width: 100%;
}

#main #tools #messages {
    margin-top: 10px;
}

#main #tools .container .btn-group {
    width: 100%;
}

#main #tools .container .btn-group .btn{
    width: 33%;
}


