#main {
    height: auto;
    display: block;
    padding: 10px;
}

#main canvas {
    border: 1px #3c3c3c dotted;
    border-radius: 5px;
    background-color: #ddd;
}

#main #tools {
    margin: 0 0 0 10px;
    width: 400px;
}

#main #tools .container {
    width: 100%;
}

#main #tools #messages {
    margin-top: 10px;
}

#main #tools .container .btn-group {
    width: 100%;
}

#main #tools .container .btn-group .btn{
    width: 33%;
}


